<h1>Product List</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table' *ngIf="products">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Descrition</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.category }}</td>
    </tr>
  </tbody>
</table>
